sudo: false
language: sh
cache: pip  # use caching for pip's packages to speed up builds

branches:
  only:
  - master

os: windows

python:
- "3.7"

env:
  global:
  - PIP_INSTALL="python -m pip install"
  - PYTHON=python

#install:
#- python -m pip install --upgrade pip
#- python -m pip install "pyyaml<5.1"
#- python -m pip install -r requirements.txt
#- python -m pip install -r tests/ci/requirements.txt

install:
- cinst -y python
- refreshenv
script:
  - pip
  - pip install wheel
#- python -m nose tests -v tests.modules.jmeter.test_JMX:TestJMX.test_int_udv


